<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="post" action="http://127.0.0.1:5002/usuario/guardar/redirect">
            <label> Correo
                <input type="text" name="correo"/>
            </label>
            <br/>
            <label> Contraseña
                <input type="text" name="password"/>
            </label>
            <br/>
            <label> Guardar usuario
                <input type="submit"/>
            </label>
        </form>
        <div id="notificacion"></div>
    </body>
</html>